body{
    background-color: rgb(226, 220, 220) !important;
}
.content {
    max-width: 500px;
    /* border:2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#date{
    width: 200px;
}